.colorswatcher-library-title {
    font-size: 30px;
}
.colorswatch-name {
    font-size: 1.4em;
}
.colorswatch-code-value {
    font-family: monospace;
}
.white-text {
    color:#FFFFFF;
    text-decoration: none;
}